@model IEnumerable<NetCoreProje.Models.Reyonlar>

@{
    ViewData["Title"] = "Index";
}

<h1>Reyonlar</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Ekle</a>
</p>
<table class="table table-striped">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReyonAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReyonAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReyonNo" style="color: darkseagreen">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReyonNo" style="color: darkseagreen ">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReyonNo" style="color: darkseagreen ">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
