@model NetCoreProje.Models.Urunler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlisFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlisFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatisFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatisFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miktar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReyonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReyonNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UrunNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
