@model IEnumerable<NetCoreProje.Models.Urunler>

@{
    ViewData["Title"] = "Index";
}

<h1>Ürünler</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus-square"></i> Ekle</a>
</p>
<table class="table table-striped">

    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrunAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlisFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatisFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReyonNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlisFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miktar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReyonNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UrunNo" style="color: #419cfe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UrunNo" style="color: #419cfe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UrunNo" style="color: #419cfe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
